@using System.Text

@model List<UserManagement.Common.UserModels.UserModel> 
<h2>User List</h2>  

	<div class="table-responsive">  
    <table class="table table-striped">  
        <thead>  
            <tr>
                <th>Id</th>
                <th>Forename</th>  
                <th>Surname</th>  
                <th>Account Active</th>
                <th>Actions</th>
				<th>Logs</th>
            </tr>  
        </thead>  
        <tbody>  
            @foreach (var item in Model)  
            {  
                <tr>
					<td>
						@item.Id
					</td>
                    <td>  
                        @item.Forename  
                    </td>  
                    <td>  
                        @item.Surname  
                    </td>
					<td>
						@if (item.IsActive)
                        {
                            <span class="badge bg-success">Active</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">Inactive</span>
                        }
					</td>
					<td>  
                        <div class="dropdown d-inline-block">  
                            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">  
                                Actions  
                            </button>  
                            <ul class="dropdown-menu" aria-labelledby="btnToggleActions">
								<li><a class="dropdown-item" asp-controller="Users" asp-action="View" asp-route-id="@item.Id">View</a></li>
								<li><a class="dropdown-item" asp-controller="Users" asp-action="Update" asp-route-id="@item.Id">Edit</a></li>  
                                <li>
									<form asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id" method="post" style="display: inline"> 
										<input type="hidden" name="id" value="@item.Id" />
										<button type="submit" class="dropdown-item text-danger" onclick="return confirm(`Are you sure you want to delete @item.Forename @item.Surname`)">Delete</button>
									</form>
								</li>
							</ul>  
                        </div>  
                    </td>
					<td>
						<a class="btn btn-outline-secondary btn-sm" asp-controller="Users" asp-action="Logs" asp-route-id="@item.Id">View Logs</a>
					</td>
                </tr>  
            }  
        </tbody>  
    </table>  
</div>  

<div>  
    <div class="btn-group" role="group">  
        <a asp-controller="Users" asp-action="List" class="btn btn-default">Show All</a>  
        <a asp-controller="Users" asp-action="List" asp-route-filter="active" class="btn btn-default">Active Only</a>  
        <a asp-controller="Users" asp-action="List" asp-route-filter="notactive" class="btn btn-default">Non Active</a>  
    </div>  

    <a asp-controller="Users" asp-action="Add" class="btn btn-primary float-end">  
        Add User  
    </a>  
</div>
<style>
	th {
		text-align: left;
	}
</style>
